#cookielaw-banner {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  border-top: 1px solid #ccc;
  background-color: #fff;
  display: none;  /* hide until javascript is loaded */
}

#cookielaw-banner .btn {
  float: right;
}

#cookielaw-banner p:last-child {
  margin-bottom: 0;
}
